#home {
    min-height: 80vh!important; 
	min-width: 100vh;
    text-align: center;
	position: relative;
}

.animation-area {
	background: linear-gradient(to left, #90d5ec,#fc575e);
	height: 100vh;
}

.dot {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.dot li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
    border-radius: 50%;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 8s linear infinite;
	bottom: -150px;
}

.dot li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}

.dot li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 8s;
}

.dot li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}

.dot li:nth-child(4) {
	left: 42%;
	width: 100px;
	height: 100px;
	animation-delay: 0s;
	animation-duration: 7s;
}

.dot li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0.5s;
}

.dot li:nth-child(6) {
	left: 25%;
	width: 90px;
	height: 90px;
	animation-delay: 3.5s;
}

.dot li:nth-child(7) {
	left: 50%;
	width: 20px;
	height: 20px;
	animation-delay: 2.5s;
}

@keyframes animate {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateY(-900px);
		opacity: 0;
	}
}

#about {
	min-width: 100vh!important;
    justify-content: center;
    margin: auto;
	background-color: rgb(226, 228, 227);
}

.circle {
	height: 25px;
	width: 25px;
	background-color: rgb(235, 233, 233);
	border-radius: 50%;
	display: inline-block;
}

#skills {
	min-width: 100vh;
	padding-top: 10px;
}

.lead {
	font-size: 28px;;
}

#education {
	min-width: 100vh;
	padding-top: 10px;
}
 
div a {
	box-sizing: border-box;
}

img{
	width: 40px;
	height: 40px;
}

footer {
	color: white;
	background-color: rgb(116, 116, 116);
	text-align: center;
	justify-content: space-between;
}


